*volumetricMeshFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*renderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/surface.obj

*secondaryRenderingMeshFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.obj

*secondaryRenderingMeshInterpolationFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.interp

*timestep
0.1

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.008

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
10.0

*frequencyScaling
2.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/voxelizegrass.lighting

*cameraRadius
5

*focusPositionY
2.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
D:/GraduationProject/LargeScaleForest/models/apricot_tree/tree.bou

*numInternalForceThreads
4

*numSolverThreads
2
*renderAxes
1

*outputFilename
G:/GraduationProject/apricot_tree/deltaU/positionthe0phi0force1100,1,1,0.txt

*fixedVerticesKVFFileName
D:/GraduationProject/LargeScaleForest/models/apricot_tree/KVFElement.txt

*uDeformationoutputFileName
G:/GraduationProject/apricot_tree/deltaU/positionthe0phi0force1100,1,1,0.spDemn

*ObjectVertexIndexInElement
G:/GraduationProject/apricot_tree/ObjectVertexIndex.txt